<footer>
    <div class="footer-img">
        <img src="../../../assets/footer/Rectangle 3.png" alt="">
        <div class="footer-details">
            <h1>Get Discount up to 50% off Today!</h1>
            <button>Explore All Products</button>
        </div>

    </div>
    <div class="footer-content">
        <div class="container1">
            <div class="row">
                <div class="col">
                    <li>Company</li>
                    <li>About Us</li>
                    <li>Blog</li>
                    <li>Careers</li>
                    <li>Contact Us</li>
                </div>
                <div class="col">
                    <li>Company</li>
                    <li>About Us</li>
                    <li>Blog</li>
                    <li>Careers</li>
                    <li>Contact Us</li>
                </div>
                <div class="col">
                    <li>Company</li>
                    <li>About Us</li>
                    <li>Blog</li>
                    <li>Careers</li>
                    <li>Contact Us</li>
                </div>
                <div class="col">
                    <li>Company</li>
                    <li>About Us</li>
                    <li>Blog</li>
                    <li>Careers</li>
                    <li>Contact Us</li>
                </div>
                
                
                
                

            </div>
        </div>


    </div>
</footer>