button{
    background-color:#F6B50E;
    color: #fff;
    padding: 17px 40px;
    border: none;
    font-size: 1.1rem;
    font-family: "Montserrat", sans-serif;

}
.weekend{
    display: flex;
    justify-content: space-between;
    margin: 18% 6%;
}
.weekend-right h1{
font-size: 3rem;
font-weight: 700;
max-width: 80%;
}
.weekend-right{
    margin: 2% 6%;


}
.weekend-right p{
font-size: 1.5rem;
font-weight: 300;
padding: 20px 0px;
}