<app-banner2></app-banner2>
<section>
    <div class="filters">
        <select [(ngModel)]="selectedcategory" (change)="filter()">
            <option value="">All Categories</option>
            <option *ngFor="let category of categories" [value]="category">{{category}}</option>

        </select>
        <select [(ngModel)]="selectedprice" (change)="filter()">
            <option value="">Any Price</option>
            <option value="10000">Below 10000</option>
            <option value="5000">Below 5000</option>
            <option value="3000">Below 3000</option>
            <option value="2000">Below 2000</option>

        </select>
        <button (click)="resetfilter()">Reset</button>
    </div>
    <div class="categories-images">
        <div class="search-operation">
            <input type="text" placeholder="search product" [(ngModel)]="searchitem" (input)="filter()">

        </div>

        <div class="row row-cols-1 row-cols-md-4 g-4">

            <div class="col" *ngFor="let product of pageproducts" [routerLink]="['/product',product.id]">

                <div class="card">
                    <img [src]="product.image" [alt]="product.alt">
                    <h1>{{product.category}}</h1>
                    <p>{{product.price | currency:'INR'}}</p>
                    <button class="btn btn-primary">{{product.button}}</button>

                </div>
            </div>
        </div>
        <div class="page">
            <button (click)="previouspage()" [disabled]="currentpage === 1">
                previous
            </button>
            <button (click)="nextpage()" [disabled]="currentpage === totalpages">
                next
            </button>
        </div>
    </div>
</section>