.categories-head{
    display: flex;
    justify-content: space-between;
    margin: 5% 8%;

}
.categories-left h1{
    font-size: 2rem;
    font-weight: 700 ;
}
.categories-left img{
    margin: 0 30%;
    max-width:60% ;
}
.categories-right h1{
    font-size: 1.2rem;


}
.card img{
    width: 220px;
    height: 250px;
    margin: 40% 5% ;
 }
 
.card{
    text-align: center;
    padding: 5px 5px;
    border: none;
    background-color: #F1F1F1;
    height: 380px !important;
    margin: 20px 20px;
    

 }

.container{
    display: flex;
    justify-content: space-between;
 }
.container h1{
    margin: 5%;
    font-size: 2rem;
}
 
